<<<<<<< HEAD

body {
   color: white;
   background-color: #333;
   font-size: 150%;
   font-family: 'Satisfy', cursive;
   margin: 5em 25%;
=======
body {
   color: white;
   background-color: black;
>>>>>>> e281fd11b7c8c966480cbd76e63ce4b08dbe537f
}